#footer {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    padding: 20px 0px 2px 0px;
}

#footer ul {
    list-style-type: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 30px;
    font-weight: 700;
}